  <%= form_for(@categorium, :html => { :class => "form"})  do |f| %>
  <% if @categorium.errors.any? %>
    <div id="error_explanation">
      <div class="flash">
        <div class="message error">
          <h2><%= pluralize(@categorium.errors.count, "error") %> prohibited this post from being saved:</h2>
          <% @categorium.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
    <div class="group">
      <div class="fieldWithErrors">
         <%= f.label :nombre, :class => "label", :for => "post_title" %>

      </div>
      <%= f.text_field :nombre,:class =>  "text_field"%>
       <span class="description">Ej: Una simple descripción</span>
    </div>
    <div class="group navform wat-cf">
      <button class="button" type="submit">
        <%= image_tag("icons/tick.png", :alt=> "Guardar")%>Guardar
      </button>
       <a href="/categoria" class="button">
        <%= image_tag("icons/cross.png", :alt=> "Cancelar")%> Cancelar
      </a>

    </div>
  <% end %>

