<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "Listado")}", categoria_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "Nueva Categoria")}", new_categorium_path %></li>
    </ul>
  </div>
  <div id="block-tables" class="block">
    <div class="content">
    <h2 class="title">Listando Categorias</h2>
      <div class="inner">
        <form class="form" action="#">
          <table class="table">
            <tbody>
              <tr>
                <th class="first">ID</th>
                <th>Nombre</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th class="last"></th>
              </tr>
              <% numerosecuencia = 0 %>
              <% @categoria.each do |categorium| %>
               <% if numerosecuencia == 0
                     numerosecuencia = 1%>
              <tr class="odd">
                <th><%= categorium.id %></th>
                <td><%= categorium.nombre %></td>
                <td><%= link_to 'Show', categorium %></td>
                <td><%= link_to 'Edit', edit_categorium_path(categorium) %></td>
                <td class="last"><%= link_to 'Destroy', categorium, :confirm => 'Are you sure?', :method => :delete %></td>
              </tr>
              <% else
                    numerosecuencia = 0%>
              <tr class="even">
                <th><%= categorium.id %></th>
                <td><%= categorium.nombre %></td>
                <td><%= link_to 'Show', categorium %></td>
                <td><%= link_to 'Edit', edit_categorium_path(categorium) %></td>
                <td class="last"><%= link_to 'Destroy', categorium, :confirm => 'Are you sure?', :method => :delete %></td>
              </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
          <br />
        </form>
      </div>
    </div>
  </div>
</div>

