<%= form_for(@post, :html => { :class => "form"}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <div class="flash">
        <div class="message error">
          <% case @post.errors.count
             when 1 %>
             <h3><%= @post.errors.count  %> error prohibe que el post sea guardado:</h3>
          <% else %>
             <h3><%= @post.errors.count  %> errores prohiben que el post sea guardado:</h3>
          <% end %>
          <% @post.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
    <div class="group">
      <div class="fieldWithErrors">
       <%= f.label :titulo, :class => "label" %>
     </div>
    <%= f.text_field :titulo,:class =>  "text_field" %>
  </div>
  <div class="group">
    <%= f.label :cuerpo,:class => "label" %>
    <%= f.text_area :cuerpo, :cols=> "80", :rows=> "10", :class=> "text_area"%>
    <span class="description">Write here a long text</span>
  </div>
  <div class="group">

<%= f.select(:categorium_id, @categoria, {:prompt => "#{t "categoria.vista.form.por_defecto"}",
                                           :order => "nombre"} ) %>
<%= f.hidden_field(:usuario_id, :value => current_usuario.id )%>
  </div>
</br>
  <div class="group navform wat-cf">
    <button class="button" type="submit">
      <%= image_tag("icons/tick.png", :alt=> "Guardar")%>Guardar
    </button>
    <a href="/posts" class="button">
      <%= image_tag("icons/cross.png", :alt=> "Cancelar")%> Cancelar
    </a>

  </div>



  <!--div class="actions">
    <%= f.submit %>
  </div-->
<% end %>

