<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "De Todo")}", posts_path  %></li>
      <% if usuario_signed_in? %>
        <li><%= link_to "#{t("web-app-theme.new", :default => "Nuevo Post")}", new_post_path %></li>
        <li><%= link_to "#{t("web-app-theme.new", :default => "Post Aleatorio")}", ipsum_path %></li>
      <% end %>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Posts</h2>
    <div class="inner">
      <ul class="list">
    <% @posts.each do |post| %>
        <li>
          <div class="left">

            <a href="#"><img class="avatar" src="images/avatar.png" alt="avatar" /></a>
          </div>
          <div class="item">
            <h3><%= link_to post.titulo, post %></h3><br />
            <%#= link_to "Editar", edit_post_path(post) %><br />
            <%=h post.cuerpo %><br />
            <strong>Autor: </strong><%=h post.usuario.try(:nombre) %><br />
            <%= link_to "#{post.comentarios.size} comentarios", post   %>
          </li>
        <% end %>
        </ul>
      </div>
    <div class="actions-bar wat-cf">
      <%= will_paginate @posts   %>
    </div>
  </div>
</div>

