<div class="block" id="block-forms">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><a href="#block-text">Categoria</a></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Mostrando Categoria</h2>
    <div class="inner">

    <p id="notice"><%= notice %></p>

    <p>
      <b>Titulo:</b>
      <%= @post.titulo %>
    </p>

    <p>
      <b>Cuerpo:</b>
      <%= @post.cuerpo %>
    </p>

    <p>
      <b>Categoria:</b>
      <%= @post.categoria_id %>
    </p>


    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>

    </div>
  </div>
</div>

