<!DOCTYPE html>
<html>
<head>
  <title>Mini Blog</title>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/djime-cerulean/style", "web-app-theme/override" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Mini Blog</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
        <% if  usuario_signed_in? %>
           <li> logueado como <%= current_usuario.email %></li>
           <li><%= link_to  t("web-app-theme.logout", :default => "Salir"), destroy_usuario_session_path %> </li>
        <% else %>
            <li> <%= link_to 'Registrarse', new_usuario_registration_path %>  </li>
            <li> <%= link_to 'Ingresar', new_usuario_session_path %> </li>
       <% end %>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
          <% case session[:seleccion]
             when 0 %>
          <li class="first"> <%= link_to 'INIS',"http://www.inis.uap.edu.ar"  %> </li>
          <li class="active"><%= link_to 'Principal',"/"  %> </li>
          <li><%= link_to 'Google',"http://www.google.com"  %> </li>
            <% if  usuario_signed_in? %>
              <li><%= link_to 'Categorias', categoria_path %>
            <% end %>
          <% when 1 %>
          <li class="first"> <%= link_to 'INIS',"http://www.inis.uap.edu.ar"  %> </li>
          <li><%= link_to 'Principal',"/"  %> </li>
          <li><%= link_to 'Google',"http://www.google.com"  %> </li>
            <% if  usuario_signed_in? %>
              <li class="active"><%= link_to 'Categorias', categoria_path %>
            <% end %>
          <% else %>
          <li class="first"> <%= link_to 'INIS',"http://www.inis.uap.edu.ar"  %> </li>
          <li class="active"><%= link_to 'Principal',"/"  %> </li>
          <li><%= link_to 'Google',"http://www.google.com"  %> </li>
            <% if  usuario_signed_in? %>
              <li><%= link_to 'Categorias', categoria_path %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>

      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> Dovedeath.</p>
          </div>
        </div>
      </div>

<div id="sidebar">
        <div class="block">
          <h3>Alguna información</h3>
          <div class="content">
            <p>Aqui tenemos un buen ejemplo de lo que se obtiene cuando uno integra muchos componentes de una vez.</p>
          </div>

        </div>
        <div class="block notice">
            <h4>Noticia de último momento</h4>
              <p>Heroku no permite el uso del componente envía mails por ser una cuenta registrada sin targeta de crédito, aunque es gratis el uso :(</p>
          </div>
        </div>
  </div>

</body>
</html>

