<!DOCTYPE html>
<html>
<head>
  <title>Mini Blog</title>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/djime-cerulean/style", "web-app-theme/override" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
   <div id="header">
      <h1><a href="/">Mini Blog</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
        <%if  usuario_signed_in? %>
           <li> logueado como <%= current_usuario.email %></li>
           <li><%= link_to  t("web-app-theme.logout", :default => "Salir"), destroy_usuario_session_path %> </li>
        <% else %>
            <li> <%= link_to 'Registrarse', new_usuario_registration_path %>  </li>
            <li> <%= link_to 'Ingresar', new_usuario_session_path %> </li>
       <% end %>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
          <li class="first"> <%= link_to 'INIS',"www.inis.uap.edu.ar"  %> </li>
          <li class="active"><%= link_to 'Principal',"/"  %> </li>
          <li><%= link_to 'Google',"http://www.google.com"  %> </li>
        </ul>
      </div>
    </div>

    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>


    <div id="box">
      <%= yield %>
    </div>
  </div>
</body>
</html>

